:root {
  --main-color: #e88d67;
  --second-color: #0e4749;
  --third-color: white;
}

/* Container for the contact form */
.form-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--third-color);
  padding: 20px;
}

/* Main title styling */
.title {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0;
  color: var(--second-color);
}

/* Form styling */
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;
  background-color: var(--third-color);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input styling */
input,
textarea {
  border-radius: 15px;
  border: solid 2px var(--second-color);
  background-color: rgb(238, 237, 237);
  color: var(--second-color);
  text-align: justify;
}

/* Input padding */
.email,
.confirm-email,
.subject {
  padding: 0.8rem;
}

.text {
  padding: 1.5rem;
  height: 12rem;
  font-size: 1rem;
  width: auto;
}

/* Labels styling */
span {
  font-style: normal;
  font-size: 1rem;
  margin-left: 1.5rem;
  color: var(--second-color);
}

/* Button styling */
.btn-contact {
  border-radius: 15px;
  background-color: var(--second-color);
  color: white;
  padding: 0.8rem;
  cursor: pointer;
  margin: 0 4rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.btn-contact:hover {
  background-color: var(--main-color);
}

/* Success and error message styling */
.success-message,
.error-message {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
}

.success-message {
  color: #28a745; /* Green for success */
}

.error-message {
  color: #dc3545; /* Red for error */
}

/* Responsive Design */
@media screen and (min-width: 800px) {
  .title {
    font-size: 2rem;
  }

  .form-contact {
    margin: 3rem 10rem 2rem 10rem;
  }

  .btn-contact {
    margin: 0 8rem;
  }
}

@media screen and (min-width: 1500px) {
  .title {
    font-size: 2rem;
  }

  .form-contact {
    margin: 3rem 55rem 2rem 55rem;
  }

  .btn-contact {
    margin: 0 20rem;
  }
}
